{% extends 'layout.twig' %}
{% block body %}
<div class="win-ui-dark" style="margin-top:50px;position:absolute; width:100%; height: calc( 100% - 50px ); overflow:auto">
<div class="container" style="height:100%" >
	<h1 class="">Search</h1>
	<div class="row">
		<div class="col-lg-8">
			<form method="POST">
			<input type="text" name="keyword" class="white" style="width:85%; font-weight; font-size:22px; margin:0; padding:0" 
				placeholder="Titre, Description ..."/><input 
				type="submit" class="emerald" style="width:15%; font-weight; font-size:21px;position:relative;
				top:-1px; margin:0; border-size:2px" value="search">
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<br >
			<br >
			<div class="row">
				{% if results is defined %}
					<div class="col-lg-12"><h3 class="fyellowW">{{ results|length }} found for "{{ keyword }}" </h6></div>
					{% for result in results %}
					<div class="col-lg-3" style="margin-bottom:20px">
						<h2 style="margin:0">{{ result.title }}</h2>
						<p>
							<b class="flime"><small><i class="glyphicon  glyphicon-tags"></i> {{ result.summary }}</small></b>
						</p>
						<p>
							{% if result.img != null %}
								<img src="{{ asset('/uploads/') }}{{ result.img }}" width=100%/>
							{% endif %}
						</p>
						<p style="text-align: justify">
							{{ result.text }}
						</p>
						<p>
							<button class="emerald" style="margin-right:10px">Download</button>
						</p>
					</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}